/* START NAVBAR */
/* Styles for the collapsed Navbar */
.collapsed-navbar .nav-items {
  height: 10vh;
  margin-top: 0.3rem;
}


/* .naviation-links{
left: 0;
} */


/* .collapsed-navbar .navbar-nav .nav-item {
  margin-top: 4rem;
} */

/* Other styles for the collapsed Navbar, e.g., background color, text color, etc. */

/* Styles for the Navbar on large screens */






/* END NAVBAR */
/* Weather  */

.table-transparent {
  background-color: transparent;
  border: none;
}

.unique-carousel-caption {
  height: 450px; /* Fixed height */
  /* Add any other custom styles as needed */
}
/* 
.nav-item {
  position: relative;
  text-decoration: none;
} */

/* .nav-item ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; 
  height: 2px; 
  background-color: goldenrod; 
  transition: width 0.5s ease; 
} */

/* .nav-item :hover::before {
  width: 100%; 
} */

/* Mobile devices */
/* @media only screen and (max-width: 576px) and (max-width: 767px) { */
    /* .hero-section{
        height: 30vh;
    }
    .carousel-item{
        margin-top: 1vh;
        height: auto;
    }
} */

/* Medium devices (desktops) */
/* @media only screen and (min-width: 768px) and (max-width: 991px) { */
    /* .hero-section{
        height: 80vh;
    }
} */

/* Large desktops */
/* @media only screen and (min-width: 992px) {
    .hero-section{
        min-height: 100vh;
    }
    .carousel-item{
        height: 100vh;
    }
} */

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

/* .login-form-area{
    background-color: green;
    width: 100%;
} */

/* CAROUSEL CAPTION ANIMATION */

 /* .caption-p{
  position: absolute;
  left: 1400px;
  width: 100%;
  height: 100px;
  -webkit-animation: caption-p 1s backwards;
  -webkit-animation-delay: 2s;
  animation: caption-p 1s forwards;
  animation-delay: 1s;
 
  /* animation: fadein-slide1 3s; */
  
/* 

@-webkit-keyframes caption-p {
  50% {
    left: 100%;
    overflow: hidden;
  }

} */

/* @keyframes caption-p {
  100%{left: 26%;
    overflow: hidden;
  }
} */

/* END CAROUSEL CAPTION ANIMATION*/

/* Search */

/* #search-form {
    display: none;
    position: absolute;
    top: 60px;
    right: 3rem;
    z-index: 999;
    transition: opacity 1s ease-in-out;
    border: #ffffff;
    border: 1px solid #ffffff !important;
  } */
  
  /* #search-form.visible {
    display: inline;
    opacity: 1;
  }
   */
  .p-1{
    padding: 0.15 !important;
    margin-left: 1rem !important;
  }
  
  .search-btn {
    display: inline;
    border: 1px solid #6d6d6d !important;
    background: goldenrod;
    z-index: 2;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    transition: color 0.5s ease-in-out;
    border: none !important;
    margin-left: -2rem !important;
  }
  
  #search-button:hover {
    color: #666666;
  }
  
  .search-form > input::placeholder{
    color: #666666;
    background-color: transparent;
    /* padding: 10px; */
    font-size: 12px;
  
   
  }
  
  .search-input{
    width: 150px;
    align-items: center;
    background-color: transparent;
  }
 
  
  .cancel-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
  }
/* end search */

/* START TRENDING SLIDES */


.slideshow__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }
  
  .slideshow__slide.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .slideshow__image {
    width: 100%;

  }
  
  .slideshow__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
  }

  .slideshow__slide {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .slideshow__image-wrapper {
    width: 100%;
    /* height: 100vh; */
   
  }  
  
  .slideshow__name {
    font-size: 24px;
    margin-bottom: 5px;
  }
  
  .slideshow__position {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .slideshow__contribution {
    font-size: 14px;
    color: #666;
  }
  
  .slideshow__dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .slideshow__dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
  }
  
  .slideshow__dot.active {
    background-color: #666;
  }
  

  /* Set max width for the container */
.slideshow-container {
 
  /* background-color: rgb(0, 38, 0, 0.5); */
   background-repeat: no-repeat center scroll top ;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    color: #fff;

    font: 400 22px/24px "Philosopher",Helvetica,sans-serif;
  }
  
  /* Center the slideshow */
  .slideshow {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    margin: auto;
    background-color: transparent;
  }
  
  /* Center the slideshow dots */
  .slideshow__dots {
    display: flex;
    justify-content: center;
  }
  
  /* Make images rounded */
  .slideshow__image {
    

    object-fit: cover;
  }
  
  /* Other styles for the slideshow */
  .slideshow__wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slideshow__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
  }
  
  .slideshow__info {
    margin-top: 20px;
    color: white;
  }
  
  .slideshow__name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .slideshow__position {
    font-size: 18px;
    font-weight: bold;
  }
  
  .slideshow__contribution {
    font-size: 16px;
    margin-top: 10px;
    line-height: 1.5;
  }
  
  /* Styles for active slide */
  .slideshow__slide.active{
    background-color: transparent;
  }
  /* END TRENDING */

  /* START ABOUT US */

  .what-card{
    font-family: 'Nunito', sans-serif;
    padding: 2px;
    box-shadow: 0 6px 10px 
    #6d6d6d, 0 0 6px ;
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 10px 10px 10px 10px;
}

.what-card-navbar{
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 10px 20px rgba(243, 241, 241, 0.12), 0 4px 8px rgba(238, 227, 227, 0.06);

}

.what-card-places{
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 10px 20px rgba(243, 241, 241, 0.12), 0 4px 8px rgba(238, 227, 227, 0.06);

}

.what-card-places:hover{
  transform: scale(1.01);

  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

}

  .what-card-price{
    font-family: 'Nunito', sans-serif;
    padding: 2px;
    box-shadow: 0 6px 10px 
    #A9A9A9, 0 0 6px ;
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 10px 10px 10px 10px;
color: #A9A9A9;
}

.blogpost-input input::placeholder {
  color: #A9A9A9 !important; /* Placeholder text color */
  font-style: italic; /* Italicize the placeholder text */
}


.places-cards{
  font-family: 'Nunito', sans-serif;
  padding: 2px;
  box-shadow: 0 6px 10px 
  #6d6d6d, 0 0 6px ;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
padding: 10px 10px 10px 10px;

}

.what-card:hover{
    transform: scale(1.02);
 box-shadow: 0 10px 20px rgba(243, 241, 241, 0.12), 0 4px 8px rgba(238, 227, 227, 0.06);
}

.what-card-btn{
  transform: scale(1.02);
box-shadow: 0 10px 20px rgba(243, 241, 241, 0.12), 0 4px 8px rgba(238, 227, 227, 0.06);
}

.what-card-btn:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(243, 241, 241, 0.12), 0 4px 8px rgba(238, 227, 227, 0.6);
}

.places-cards:hover{
  transform: scale(1.01);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
@media(max-width: 990px){
    .what-card{
      margin: 20px;
    }
  }

  button {
    background-color: #fff;
    color: green;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #121661;
    color: #fff;
  }

  body, html, div, h1, h2, h3, p, ul, ol, li, form, fieldset, input, button {
    margin: 0;
    padding: 0;
    border: 0;
  }
 
  
  /* END ABOUT US */

  
          @import url('https://fonts.googleapis.com/css?family=Ubuntu');
          @import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
        


        .style-p {
          font-family: 'Ubuntu', sans-serif;
          font-size: px;
          font-weight: bold;
          text-align: center;
          letter-spacing: 5px;
          text-shadow: 16px 22px 11px rgba(18, 187, 18,0.8);
        }
        
          /* end result and header */

  

/* Heading */
.heading {
	font-family: 'Pacifico', cursive;
  text-align: center;
  color: white;
  top: 30vh;
}

  /* START WEATHER */
    .w-main{
      width: 700px;
      border-radius: 15px;

    }

    .w-header{
      background-color: #424242;
      color: whitesmoke;
      padding: 10px;
      font-size: 28px;
      border-radius: 15px;
      font-family: 'Recursive', sans-serif;
    }

    .w-day{
      padding: 15px;
      color: whitesmoke;
      font-family: 'Recursive', sans-serif;
      font-size: 24px;
      font-weight: 600;
    }

    .w-temp{
      padding: 15px;
      color: whitesmoke;
      font-family: 'Recursive', sans-serif;
      font-size: 24px;
    }

    .w-flex{
      display: flex;
      justify-content: space-between;
    }

    .sunrise-sunset{
      padding: 15px;
      color: whitesmoke;
      font-family: 'Recursive', sans-serif;
      font-size: 16px;
    }

    .w-description{
      padding: 15px;
      color: whitesmoke;
      font-family: 'Recursive', sans-serif;
      font-size: 16px;
    }

    .w-top{
      height: 60px;
      background-color: #424242;
      color: whitesmoke;
      padding: 10px;
      border-radius: 20px 20px 0 0;
      font-family: 'Recursive', sans-serif;
      display: flex;
      justify-content: space-between;
    }

    .w-button{
      width: 35px;
      height: 35px;
    }


  /*ENDWEATHER  */

  /* START FOOTER  */
    .footer-content{
      width: 100%;
      left: 0 !important;
      right: 0 !important;
    }

  /* END FOOTER */

 /* START FLASH MESSAGE */

.flash-message {
  position: fixed;
  top: 10vh;
  left: 30%;
  right: 30%;
  background-color: rgba(18, 187, 18); /* Adjust color and opacity */
  color: white;
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  width:'300px' !important;
  z-index: 1000; /* Place above other content */
  animation: flash 2s forwards; /* Animation duration of 2 seconds */
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* END FLASH MESSAGE */

/* START BLOG CAROUSEL ITEMS */

.fixed-carousel .carousel-control-prev,
.fixed-carousel .carousel-control-next {
  display: none;
}

/* Blog file input */
.custom-file-upload {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  /* background-color: #121661; */
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  color: #d9d9d9;
  padding: auto;
  padding: 1px;
  border-radius: 100%;

}

.custom-button {
  display: inline-block;
  /* padding: 5px 15px; */
  height: 30px;
  /* background-color: #a9a9a9; */
  border: none;
  color: #d9d9d9;
  cursor: pointer;
  border-radius: 100%;
}

/* You can add hover and active states for interactivity */



/* end blog */

/* END BLOG CAROUSEL ITEM */



/* CURRENCY */

/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* .App {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
} */

/* .heading {
	font-family: 'Pacifico', cursive;
	font-size: 35px;
} */

/* .container {
	height: auto;
	width: 800px;
	display: flex;
	justify-content: space-around;
	align-items: center;
} */

/* input {
	padding-left: 5px;
	font-size: 20px;
	height: 36px;
} */

.middle,
.right {
	width: 120px;
}

.switch {
	padding: 5px;
	background-color: rgb(226, 252, 184);
	border-radius: 50%;
	cursor: pointer;
}

.result {
	box-sizing: border-box;
	width: 800px;
	padding-left: 30px;
}

/* button {
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
	border: 2px solid forestgreen;
	background-color: rgb(226, 252, 184);
	cursor: pointer;
}

p,
h3,
button,
.switch {
	color: forestgreen;
} */

/* p {
	font-size: 30px;
} */



/* WEATHER WIDGET */

/* Add this to your CSS file */
.weather-widget {
  /* background-color: #fff; */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  color: #333;
  font-size: 16px;
  color: yellow;
}

.weather-widget p {
  margin: 5px 0;
}

/* Customize the styles as needed */

/* START SEARCH BAR */



/* body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #e74c3c !important;
  } */

  .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: auto;
  background-color: #121661;
  box-shadow: 1px 1px 1px 1px #666;
  border-radius: 30px 30px 30px 30px;
  padding: 3px;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 150px;
  caret-color:transparent;
  line-height: 30px;
  transition: width 0.4s linear;
  }

  /* .searchbar:hover > .search_input{
  padding: 3px;
  width: 200px;
  caret-color: #a9a9a9;
  transition: width 0.4s linear;
  } */

  .searchbar:hover > .search_icon{
  background: green;
  color: white;
  cursor: pointer;
  }

  .search_icon{
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #a9a9a9;
  text-decoration:none;
  }

  /* END SEARCH BAR */
